@model LinkStart.Core.ViewModels.UserViewModel
@{
    ViewBag.Title = "User";
}

<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    Users
                </h4>
                <p class="category ">
                    List of Users
                </p>

            </div>
            <div class="content table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                S.N.
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>

                            <th class="text-right">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1;}
                        @foreach (var items in Model.Users)
                        {
                            <tr>
                                <td class="text-center">
                                    @i
                                </td>
                                <td>
                                    @items.FirstName @items.LastName
                                </td>
                                <td>
                                    @items.Email
                                </td>

                                <td class="td-actions text-right">
                                    <a href="#" rel="tooltip" title="Edit User" class="btn btn-success btn-simple btn-xs" >
                                        <i class="ti-pencil-alt user" data-user-id="@items.Id"></i>
                                    </a>
                                    <a href="#" rel="tooltip" title="Assign Role" class="btn btn-danger btn-simple btn-xs ">
                                        <i class="ti-key role" data-user-id="@items.Id"></i>
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 userdiv" style="display: none">
        <div class="card">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="header">
                    <h4 class="title">Add Or Edit</h4>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-warning" })
                <div class="content">
                    @Html.HiddenFor(x=>x.UserId)

                    <div class="form-group">
                        @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control border-input", placeholder = "First Name" })
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-warning" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control border-input", placeholder = "Last Name" })
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-warning" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control border-input", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-warning" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control border-input", placeholder = "Username" })
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-warning" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PhoneNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control border-input", placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-warning" })

                    </div>
                    <div class="category">
                        Manage User Details                  
                        </div>

                </div>

                <div class="footer text-center">
                    <div class="form-group">
                        <input type="button" id="btnSubmit"  class="btn btn-info btn-fill btn-wd" value="Save"/>

                    </div>
                </div>


            }

        </div>
    </div>
    <div class="col-lg-3 col-md-4 rolediv" style="display: none">
        <div class="card">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="header">
                    <h4 class="title">Add Or Edit</h4>
                </div>  
                @Html.ValidationSummary(true, "", new { @class = "text-warning" })
            <div class="content">


                <div class="form-group">
                    
                    @Html.HiddenFor(x=>x.UserId)

                    @Html.LabelFor(x => x.RoleId, new {@class = "control-label"})
                    @Html.DropDownListFor(x => x.RoleId,Model.RoleList,"--Select Role--", new {@class = "form-control border-input drop"})
                
                    @Html.ValidationMessageFor(x => x.RoleId, "", new {@class = "text-warning"})

                </div>
                   
                    <div class="category">
                       Change User Permission/Access               
                        </div>

                </div>

                <div class="footer text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>

                    </div>
                </div>

            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">

        $(function() {

            $(".user").click(function(e) {

                $(".userdiv").toggle("slow");

                var link = $(e.target);
                $.ajax({
                    url: "/api/user/" + link.attr("data-user-id"),
                    method: "GET",
                    success: function (data) {

                        $("#UserId").val(data["Id"]);

                        $("#FirstName").val(data["FirstName"]);

                        $("#LastName").val(data["LastName"]);

                        $("#Email").val(data["Email"]);

                        $("#UserName").val(data["UserName"]);

                        $("#PhoneNumber").val(data["PhoneNumber"]);
                    },
                    error:function() {
                        alert("Something went wrong !");
                    }
                
                });
            });

            $(".role").click(function(e) {

                $(".rolediv").toggle("slow");

                var link = $(e.target);

                $("#UserId").val(link.attr("data-user-id"));

                //$.ajax({
                //    url: "/api/user",
                //    method: "GET",
                //    sucess: function(datas) {

                //        $.each(datas,function(i) {
                //                $(".drop").append($("<option></option>").val(datas[i].Id).html(datas[i].Name));
                //            });
                //    }
                //});
            });

            $("#btnSubmit").click(function() {

                var Id = $("#UserId").val();

                var FirstName = $("#FirstName").val();

                var LastName = $("#LastName").val();

                var Email = $("#Email").val();

                var UserName = $("#UserName").val();

                var PhoneNumber = $("#PhoneNumber").val();

                $.ajax({
                    url: "/api/user",
                    method: "PUT",
                    data: {UserId:Id,FirstName:FirstName,LastName:LastName,Email:Email,UserName:UserName,PhoneNumber:PhoneNumber} ,
                    success: function() {

                        bootbox.alert("Record Updated !");
                    }
                });

            });


        });
    </script>
 
}