@model LinkStart.Core.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="text-center" style="padding:50px 0">
    <div class="logo">forgot password</div>
    <!-- Main Form -->
    <div class="login-form-1">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "text-left" }))
        {     
            @Html.AntiForgeryToken()

            <div class="etc-login-form">
                <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
            </div>
            <div class="login-form-main-message">
                @Html.ValidationSummary("", new { @class = "text-info" })
            </div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-info" })

                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>already have an account? <a href="@Url.Action("Login","Account")">login here</a></p>
                <p>new user? <a href="@Url.Action("Register","Account")">create new account</a></p>
            </div>
        }
    </div>
    <!-- end:Main Form -->
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
   
