@using LinkStart.Core.Models
@using LinkStart.Core.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="text-center" style="padding:50px 0">
    
    <div class="logo">login</div>
    <div class="login-form-1">
        
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "text-left",id="login-form"}))
            {
                @Html.AntiForgeryToken()
                <div clas="login-form-main-message">
                    @Html.ValidationSummary(true, "", new { @class = "text-warning"})
                </div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control",placeholder="Username" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-info" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control",placeholder="Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-info" })
                        </div>
                   @*     <div class="form-group">
                            @Html.CheckBoxFor(m => m.RememberMe,new{id="lg_rememeber"})

                            @Html.LabelFor(m => m.RememberMe)
                        </div>*@
                    </div>
                
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                
                </div>
                
                <div class="etc-login-form">
                    <p>forgot your password?@Html.ActionLink("Forgot your password?", "ForgotPassword") </p>
                    <p>new user? @Html.ActionLink("Register as a new user", "Register")</p>
                </div>
           
            }
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}