@model LinkStart.Core.ViewModels.RoleViewModel
@{
    ViewBag.Title = "Role";
}
<div class="row">
    <div class="col-lg-6 col-md-5">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    Roles
                </h4>
                <p class="category">
                    List of Roles for users
                </p>
            </div>
            <div class="content table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">
                            S.N.
                        </th>
                        <th>
                            Name
                        </th>
                        <th class="text-right">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{int i = 1;}
                    @foreach (var items in Model.Roles)
                    {
                        <tr>
                            <td class="text-center">
                                @i
                            </td>
                            <td>
                                @items.Name
                            </td>
                            <td class="td-actions text-right">
                                <a href="@Url.Action("Edit","Role",new{id=items.Id})" rel="tooltip" title="Edit Role" class="btn btn-success btn-simple btn-xs" >
                                    <i class="ti-pencil-alt"></i>
                                </a>
                                <a href="#" rel="tooltip" title="Delete Role" class="btn btn-danger btn-simple btn-xs" >
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                        i++;
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-4">
        <div class="card">
         
           
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="header">
                        <h4 class="title">Add Or Edit</h4>
                    </div>
                    @Html.ValidationSummary(true, "", new {@class = "text-warning"})
                    <div class="content">
                          

                        <div class="form-group">
                            @Html.LabelFor(x => x.RoleName,new{@class="control-label"})
                            @Html.TextBoxFor(x => x.RoleName, new {@class = "form-control border-input", placeholder = "Role Name"})
                            @Html.ValidationMessageFor(x => x.RoleName, "", new {@class = "text-warning"})

                        </div>
                        <div class="category">
                            Add Roles to Define user permission
                        </div>
                      
                    </div>
                 
                    <div class="footer text-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>

                        </div>
                    </div>
            
                 
                }
       
        </div>
    </div>
</div>
<div class="clearfix"></div>
